* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 50px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
