$color-1:#E9ECED;
$color-2:#A47503;
$color-3:#F9B718;
$color-4:#FFC12D;
$color-5:#2C3E50;
$color-6:#C3CDD4;
$color-7:#CFD2D3;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}
 

section{
    width:570px;
    height:150px;
    border:1px solid $color-1;
    border-radius:10px;
    display:flex;
    padding-left:49px;
    padding-right: 18.9px;

    &::before {
        content: '\f12a';
        font-family: 'FontAwesome';
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        margin: 42px 29px 42px 0;
        color: $color-2;
        font-size: 24px;
        border: 7px solid $color-3;
        border-radius: 50%;
        background-color: $color-4;
    }
}



.text{
    margin-top: 34px;
    margin-right: 55px;
h1{
        font-family: 'Lato';
        font-size:14px;
        line-height:26px;
        letter-spacing: 1.4px;
        font-weight:bolder;
        color:$color-5;
    }

    p{
        font-family: 'Lato';
        font-size:14px;
        line-height:24px;
        color:$color-6;
        margin-top: 6px;
       
    }
}



.exit{
    margin-top:12.6px;
    
 
}

.exit::before{
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 24px;
    color:$color-7;
    content:'\f00d';
}
