$color-1: #A47503;
$color-2: #FFC12D;
$color-3: #F9B718;

$color-4: #558502;
$color-5: #97E411;
$color-6: #7BC200;

$color-7: #D52E13;
$color-8: #FD7761;
$color-9: #F55C43;

$color-10: #0787D4;
$color-11: #6FD9FC;
$color-12: #47B4F6;

$color-13: #5B568E;
$color-14: #A39CDC;
$color-15: #8781BD;

$color-16: #E2E6E7;
$color-17: #2C3E50;
$color-18: #A1B1BC;
$color-19: #CFD2D3;
$color-20: #A2A4A5;
